{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1>Welcome to My Blog!</h1>

            <p>I am pleased to introduce my new blog, which I am creating for educational purposes. In this blog, you will find a range of exciting features and functionalities to make your interaction with it as convenient and valuable as possible.</p>

            <p>One of the key features of the blog is the registration option, which allows you to create your own account and access various functions. If you forget your password, don't worry - there is a password reset option available to regain access to your account.</p>

            <p>In addition to being able to create your own posts, you will also have the ability to view posts from other users. This will provide you with new ideas, inspiration, and the opportunity to share your thoughts or comments.</p>

            <p>Each user will have their own personal dashboard, where you can manage your profile and settings. You'll be able to edit and delete your posts, add a profile picture to make your account recognizable and personalized.</p>

            <p>To facilitate easy information retrieval, the blog will include a search form. You can use keywords to search for specific posts and quickly find the information you're looking for.</p>

            <p>My blog is created with the purpose of exchanging knowledge, ideas, and experiences. I hope it becomes a valuable and inspiring space for all its users. I look forward to welcoming you to the blog's pages to share and gain new knowledge and insights. Welcome to our online community!</p>

      </div>
    </div>
</div>
{% endblock content%}
