{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="user-information">
          <div class="user-information__content">
            <h3 class="user-information__title">Username: {{ user.username }}</h3>
            <p class="user-information__email">Email Address: {{ user.email }}</p>
            <p class="user-information__activity">Last activity: {{ user.last_activity.strftime('%d/%m/%Y %H:%M') }}</p>
            {% if current_user.id == user.id %}
              <a href="{{ url_for('users.update_account') }}" class="btn btn-outline-secondary btn-sm">Update Profile</a>
              <a href="{{ url_for('posts.create_post') }}" class="btn btn-outline-primary btn-sm">Create Post</a>
            {% endif %}
          </div>

          <div class="user-information__image">
            <img src="{{ image_file }}" alt="User Profile Picture">
          </div>
        </div>
        <h2>The posts of {{ user.username }}</h2>
        <hr>
        {% include 'includes/post_template.html' %}
      </div>
    </div>
  </div>
{% endblock %}
