{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1>Posts</h1>
        {% for post in posts %}
          <hr>
          <h2>{{ post.title }}</h2>
          <p class="meta">Puplished by <a href="{{ url_for('account', user_id=post.author.id )}}"><b>{{ post.author.username }}</b></a>
            in {{ post.date_posted.strftime('%d/%m/%Y %H:%M') }}</p>
          <p class="text-preview">{{ post.content[:250] }}<b>...</b></p>
          <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-primary">Read More</a>
          <hr>
        {% endfor %}
      </div>
      <div class="col-md-4">
        <h3>Search</h3>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
        <hr>
        <h3>Categories</h3>
        <div class="list-group">
            {% for category in categories %}
              <a href="{{ url_for('category', category_id=category.id) }}" class="list-group-item">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
